div:hover{
    font-weight: bolder;
    font-size: 150%;

}
#first{
    color: burlywood;
    background-color: cornsilk;
    margin-top: 10px;
    margin-bottom: 10px;
}

#second{
    color: aqua;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
#third{
    color: darkslategrey;
    background-color: chocolate;
    margin-top: 10px;
    margin-bottom: 10px;
}